In [1]:
# Pandas
import pandas as pd
data={'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [ ]:
# .csv -> read_csv excel(.xlsx)->read_excel, read_xlsx

# data collection
data=pd.read_csv('C:/Users/Admin/Downloads/CHV APPS.csv')
print(data)

            Timestamp                    Name Branch  Year Phone Number  \
0   8-4-2025 12:01:23                   Joshi    Cse     4  93471715051
1   8-5-2025 15:08:05      Chitrada jyoshika     ECE     3   7396410015
2   8-5-2025 15:08:15           P.Karuna babu    Ece     3   7981799375
3   8-5-2025 15:08:17         Jeevana prasad    ECE      3   9441461577
4   8-5-2025 15:08:27          Gudiya Pujitha    Ece     3   9515081608
..                ...                     ...    ...   ...          ...
91  8-5-2025 15:16:48         L.Bhavana priya   ECE      3   9030834546
92  8-5-2025 15:17:10            B. Yernibabu    Ece     3   8688015155
93  8-5-2025 15:17:34  Ch Gopi Vallaba kumar     ECE     3   7287934741
94  8-5-2025 15:19:22   Shaik Mahamad Thahir     ECE     3   7569993613
95  8-5-2025 15:28:23            M Bhavya Sri    Ece     3   8639471088

                                          email Interested in Internnship  \
0                     joshisankar5051@gmail.com                       yes
1                  jyoshikachitrada21@gmail.com                       yes
2                      pudikarunababu@gmail.com                        No
3                    jeevanprasad8096@gmail.com                       yes
4                       gudiyapujitha@gmail.com                       yes
..                                          ...                       ...
91        lenkabhavanapriya.23.ece@anits.edu.in                       yes
92                  yernibabubarala39@gmail.com                       yes
93  chendagopivallabhakumar.23.ece@anits.edu.in                        No
94                     shaikthahir981@gmail.com                        No
95                 maddalabhavyasri06@gmail.com                       yes

             Internship Offered Interested in course  \
0               App Development                  Yes
1   Full Stack  Web Development                  Yes
2           NA (NOT APPLICABLE)                  Yes
3   Full Stack  Web Development                  Yes
4           NA (NOT APPLICABLE)                  Yes
..                          ...                  ...
91  Full Stack  Web Development                  Yes
92              App Development                  Yes
93          NA (NOT APPLICABLE)                  Yes
94          NA (NOT APPLICABLE)                   No
95              App Development                  Yes

                Courses Offered How is the Session  How do you Rate us  \
0               App Development               Good                  10
1                   Programming               Good                   9
2                   Programming               Good                  10
3   Full Stack  Web Development               Good                  10
4                   Programming               Good                   9
..                          ...                ...                 ...
91  Full Stack  Web Development               Good                   9
92              App Development               Good                  10
93               Cyber Security               Good                   8
94          NA (NOT APPLICABLE)               Good                  10
95                  Programming               Good                   7

                    Anything to Say? Status
0                 Everything is good    NaN
1                                 No    NaN
2                                 No    NaN
3   Expected the internship for free    NaN
4                                 ??    NaN
..                               ...    ...
91                           Nothing    NaN
92                           Nothing    NaN
93                                 .    NaN
94                              Good    NaN
95                     Good session     NaN

[96 rows x 14 columns]

In [ ]:
# Data Preprocessing
data.head()  # first 5 rows

,Timestamp,Name,Branch,Year,Phone Number,email,Interested in Internnship,Internship Offered,Interested in course,Courses Offered,How is the Session,How do you Rate us,Anything to Say?,Status
0,8-4-2025 12:01:23,Joshi,Cse,4,93471715051,joshisankar5051@gmail.com,yes,App Development,Yes,App Development,Good,10,Everything is good,NaN
1,8-5-2025 15:08:05,Chitrada jyoshika,ECE,3,7396410015,jyoshikachitrada21@gmail.com,yes,Full Stack Web Development,Yes,Programming,Good,9,No,NaN
2,8-5-2025 15:08:15,P.Karuna babu,Ece,3,7981799375,pudikarunababu@gmail.com,No,NA (NOT APPLICABLE),Yes,Programming,Good,10,No,NaN
3,8-5-2025 15:08:17,Jeevana prasad,ECE,3,9441461577,jeevanprasad8096@gmail.com,yes,Full Stack Web Development,Yes,Full Stack Web Development,Good,10,Expected the internship for free,NaN
4,8-5-2025 15:08:27,Gudiya Pujitha,Ece,3,9515081608,gudiyapujitha@gmail.com,yes,NA (NOT APPLICABLE),Yes,Programming,Good,9,??,NaN

In [4]:
data.tail()  # last 5 rows

,Timestamp,Name,Branch,Year,Phone Number,email,Interested in Internnship,Internship Offered,Interested in course,Courses Offered,How is the Session,How do you Rate us,Anything to Say?,Status
91,8-5-2025 15:16:48,L.Bhavana priya,ECE,3,9030834546,lenkabhavanapriya.23.ece@anits.edu.in,yes,Full Stack Web Development,Yes,Full Stack Web Development,Good,9,Nothing,NaN
92,8-5-2025 15:17:10,B. Yernibabu,Ece,3,8688015155,yernibabubarala39@gmail.com,yes,App Development,Yes,App Development,Good,10,Nothing,NaN
93,8-5-2025 15:17:34,Ch Gopi Vallaba kumar,ECE,3,7287934741,chendagopivallabhakumar.23.ece@anits.edu.in,No,NA (NOT APPLICABLE),Yes,Cyber Security,Good,8,.,NaN
94,8-5-2025 15:19:22,Shaik Mahamad Thahir,ECE,3,7569993613,shaikthahir981@gmail.com,No,NA (NOT APPLICABLE),No,NA (NOT APPLICABLE),Good,10,Good,NaN
95,8-5-2025 15:28:23,M Bhavya Sri,Ece,3,8639471088,maddalabhavyasri06@gmail.com,yes,App Development,Yes,Programming,Good,7,Good session,NaN

In [5]:
data.shape  # (rows, columns)

(96, 14)

In [6]:
data.info()  # summary

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  96 non-null     object
 1   Name                       96 non-null     object
 2   Branch                     96 non-null     object
 3   Year                       96 non-null     int64
 4   Phone Number               96 non-null     object
 5   email                      96 non-null     object
 6   Interested in Internnship  96 non-null     object
 7   Internship Offered         96 non-null     object
 8   Interested in course       96 non-null     object
 9   Courses Offered            96 non-null     object
 10  How is the Session         96 non-null     object
 11  How do you Rate us         96 non-null     int64
 12  Anything to Say?           96 non-null     object
 13  Status                     2 non-null      object
dtypes: int64(2), object(12)
memory usage: 10.6+ KB

In [7]:
data.isnull()  # missing values per column

,Timestamp,Name,Branch,Year,Phone Number,email,Interested in Internnship,Internship Offered,Interested in course,Courses Offered,How is the Session,How do you Rate us,Anything to Say?,Status
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,False,False,False,False,False,False,False,False,False,False,False,False,False,True
92,False,False,False,False,False,False,False,False,False,False,False,False,False,True
93,False,False,False,False,False,False,False,False,False,False,False,False,False,True
94,False,False,False,False,False,False,False,False,False,False,False,False,False,True
95,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [8]:
data.isnull().sum()  # missing values per column

Timestamp                     0
Name                          0
Branch                        0
Year                          0
Phone Number                  0
email                         0
Interested in Internnship     0
Internship Offered            0
Interested in course          0
Courses Offered               0
How is the Session            0
How do you Rate us            0
Anything to Say?              0
Status                       94
dtype: int64

In [9]:
data1=data['Year']
data1.head()

0    4
1    3
2    3
3    3
4    3
Name: Year, dtype: int64

In [14]:
data1=data[data['Year']==3]
print(data1.head())

           Timestamp                Name Branch  Year Phone Number  \
1  8-5-2025 15:08:05  Chitrada jyoshika     ECE     3   7396410015
2  8-5-2025 15:08:15       P.Karuna babu    Ece     3   7981799375
3  8-5-2025 15:08:17     Jeevana prasad    ECE      3   9441461577
4  8-5-2025 15:08:27      Gudiya Pujitha    Ece     3   9515081608
5  8-5-2025 15:08:28             Bhavana    Ece     3   8523815932

                          email Interested in Internnship  \
1  jyoshikachitrada21@gmail.com                       yes
2      pudikarunababu@gmail.com                        No
3    jeevanprasad8096@gmail.com                       yes
4       gudiyapujitha@gmail.com                       yes
5    bathulabhavana98@gmail.com                       yes

            Internship Offered Interested in course  \
1  Full Stack  Web Development                  Yes
2          NA (NOT APPLICABLE)                  Yes
3  Full Stack  Web Development                  Yes
4          NA (NOT APPLICABLE)                  Yes
5          NA (NOT APPLICABLE)                  Yes

               Courses Offered How is the Session  How do you Rate us  \
1                  Programming               Good                   9
2                  Programming               Good                  10
3  Full Stack  Web Development               Good                  10
4                  Programming               Good                   9
5                  Programming               Good                   9

                   Anything to Say? Status
1                                No    NaN
2                                No    NaN
3  Expected the internship for free    NaN
4                                ??    NaN
5                           Nothing    NaN

In [16]:
data1=data[data['Courses Offered']=='Full Stack  Web Development']
data1.head()

,Timestamp,Name,Branch,Year,Phone Number,email,Interested in Internnship,Internship Offered,Interested in course,Courses Offered,How is the Session,How do you Rate us,Anything to Say?,Status
3,8-5-2025 15:08:17,Jeevana prasad,ECE,3,9441461577,jeevanprasad8096@gmail.com,yes,Full Stack Web Development,Yes,Full Stack Web Development,Good,10,Expected the internship for free,NaN
6,8-5-2025 15:08:36,Turala Yogitha,Ece,3,7032701602,yogithaturala@gmail.com,yes,Full Stack Web Development,Yes,Full Stack Web Development,Good,7,No,NaN
10,8-5-2025 15:08:54,Komali ganta,Exe,3,8374494673,Gantakomali06@gmail.com,yes,Full Stack Web Development,Yes,Full Stack Web Development,Good,7,No,NaN
16,8-5-2025 15:09:20,GUDALA PRADEEP,Ece,3,7702890179,gudalapradeep.23.ece@anits.edu.in,yes,Full Stack Web Development,Yes,Full Stack Web Development,Good,7,Nothing,NaN
17,8-5-2025 15:09:23,K.dhana sekhar,Ece,3,6305298838,sekhardhana765@gmail.com,yes,Full Stack Web Development,Yes,Full Stack Web Development,Good,8,No,NaN

In [17]:
data['Courses Offered'].unique()  # unique values in column

array(['App Development', 'Programming', 'Full Stack  Web Development',
       'AI', 'Data Science', 'NA (NOT APPLICABLE)', 'Cyber Security'],
      dtype=object)

In [18]:
data['How is the Session'].unique()  # unique values in column

array(['Good', 'Understadable', 'Not Good'], dtype=object)

In [19]:
data.duplicated()  # duplicated rows

0     False
1     False
2     False
3     False
4     False
      ...
91    False
92    False
93    False
94    False
95    False
Length: 96, dtype: bool

In [20]:
data.duplicated().sum()  # duplicated rows

np.int64(0)

In [ ]:
# Data Visualization